.intro {
    display: flex;
    flex-direction: column;
    margin-top: $spacing-5 * 2;
    gap: $spacing-6;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__image {
        max-width: 90%;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: $spacing-3;
        text-align: center;
    }

    &__title {
        font-family: $font-josefin;
        font-size: $fs-xxl;
        font-weight: $font-thin;
        text-transform: uppercase;
    }

    &__text {
        color: $grey;
        font-size: $fs-sm;
    }
}