.intro {
    display: flex;
    flex-direction: column;
    margin-top: $spacing-5 * 2;
    gap: $spacing-6;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__image {
        max-width: 90%;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: $spacing-3;
        text-align: center;
    }

    &__title {
        font-family: $font-josefin;
        font-size: $fs-xxl;
        font-weight: $font-thin;
        text-transform: uppercase;
    }

    &__text {
        color: $grey;
        font-size: $fs-sm;
    }

    @media (min-width: 50rem) {
        align-items: flex-start;
        margin-bottom: $spacing-6 * 3;
        position: relative;
        text-align: left;

        &__image {
            max-width: none;
        }

        &__content {
            position: absolute;
            background-color: $white;
            padding: $spacing-3;
            left: 50%;
            bottom: 0;
        }
    }
}